@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import "./sass/reset.scss";
/* Card */
body {
  background: #5FBFEC;
  font-family: Poiret One;
  color: #222;

  ul {
    list-style: none;
  }
}
@import "./sass/nav.scss";
@import "./sass/card.scss";

















